* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

p,
span {
  font-family: var(--font-family-main);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
