.Input {
  display: flex;
  align-items: center;
  width: 100%;

  & > .inputField {
    color: var(--main-text-color);
  }
}

.search {
  .inputField {
    width: 120px;
    height: 3pc;
    border: 2px solid var(--button-backgrond-hovered);
    font-size: var(--font-size-l);
  }

  &::placeholder {
    color: var(--main-text-color);
  }
}

.primary {
  .inputField {
    width: 100%;
    min-height: 2pc;
    padding: 0 4px;

    &::placeholder {
      color: var(--main-text-color);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonRight {
  position: absolute;
  left: 140px;
}


.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.readonly {
  font-size: var(--font-size-l);
}

.focused {
  border: 1px solid var(--card-color-hovered);
  background: var(--card-color-hovered);

  .addonLeft img,
  .addonRight img {
    opacity: 0;
  }
}
