.title {
  max-width: 260px;
  overflow: hidden;
  color: var(--header-text-color);
}

.text {
  max-width: 260px;
  overflow: hidden;
  color: var(--main-text-color);
}

.accent {
  .title {
    color: var(--header-text-color);
  }

  .text {
    color: var(--main-text-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_s {
  .title {
    font: var(--font-s);
  }

  .text {
    font: var(--font-s);
  }
}

.size_m {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-l);
  }
}

.bold {
  .title,
  .text {
    font-weight: bold;
  }
}
