.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  background: none;
  outline: none;
  width: 312px;
  height: 48px;
  border: 1px solid var(--card-color-hovered);

  @media (hover: hover) {
    &:hover {
      background: var(--card-color-hovered);
    }
  }

  @media (hover: none) {
    &:active {
      background: var(--card-color-hovered);
    }
  }
}
