.table {
  display: grid;
  margin: 0;
  //height: 1000px;
}

.tableHeader {
  margin-bottom: 24px;
}

.tableHeaderCell {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 16px 4px;
  margin-left: 16px;
  margin-top: 8px;
  background: var(--backgrond-table-color);
}

.tableCell {
  min-height: 32px;
  padding: 16px 4px;
  margin-left: 16px;
  background: var(--backgrond-table-color);
}

.tableHeaderCell,
.tableCell {
  &:last-child {
    margin-right: 16px;
  }
}

.tableRow {
  display: contents;
}
