.table {
  display: grid;
  margin: 0;
}

.tableHeader {
  margin-bottom: 24px;
}

.tableHeaderCell {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 16px 4px;
}

.tableCell {
  min-height: 32px;
  padding: 16px 4px;
}

.tableRow {
  display: contents;
}
