.table {
  display: grid;
  justify-content: space-between;
  max-width: 1000px;
}

.tableHeader {
  //margin-bottom: 24px;
}

.tableHeaderCell {
  display: flex;
  align-items: center;
  min-height: 2pc;
}

.tableCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 3pc;
}

.tableRow {
  display: contents;
}




